<offbank-hero-section class="offbank_section overflow-hidden"></offbank-hero-section>
<offbank-movie-section class="offbank_section overflow-hidden"></offbank-movie-section>
<offbank-trust-us id="why" class="offbank_section overflow-hidden"></offbank-trust-us>
<offbank-how-it-works-section id="how-it-works" class="offbank_section overflow-hidden"></offbank-how-it-works-section>
<offbank-your-decision-section class="offbank_section overflow-hidden"></offbank-your-decision-section>
<offbank-opinions-section id="opinions" class="offbank_section"></offbank-opinions-section>
<offbank-why-us-section class="offbank_section" [isMobile]="screenService.isMobile()"></offbank-why-us-section>
<offbank-description-section class="offbank_section overflow-hidden"></offbank-description-section>
<offbank-download-section class="offbank_section overflow-hidden"></offbank-download-section>
<offbank-faq-section id="faq" class="offbank_section overflow-hidden"></offbank-faq-section>
