<offkredyt-hero-section class="offkredyt_section overflow-hidden"></offkredyt-hero-section>
<!--<offkredyt-movie-section class="offkredyt_section overflow-hidden"></offkredyt-movie-section>-->
<offkredyt-trust-us id="why" class="offkredyt_section overflow-hidden"></offkredyt-trust-us>
<offkredyt-how-it-works-section id="how-it-works" class="offkredyt_section overflow-hidden"></offkredyt-how-it-works-section>
<offkredyt-your-decision-section class="offkredyt_section overflow-hidden"></offkredyt-your-decision-section>
<offkredyt-opinions-section id="opinions" class="offkredyt_section"></offkredyt-opinions-section>
<offkredyt-why-us-section class="offkredyt_section" [isMobile]="screenService.isMobile()"></offkredyt-why-us-section>
<offkredyt-description-section class="offkredyt_section overflow-hidden"></offkredyt-description-section>
<offkredyt-download-section class="offkredyt_section overflow-hidden"></offkredyt-download-section>
<offkredyt-faq-section id="faq" class="offkredyt_section overflow-hidden"></offkredyt-faq-section>
