@use '../../../../../assets/layout/scss/mixins';

section {
  padding-top: 160px;
  padding-bottom: 60px;
  @include mixins.media-query('max', 'xlg') {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.grid {
  @include mixins.media-query('max', 'xlg') {
    flex-direction: column-reverse;
  }
}

img {
  max-width: 100%;
}

h2 {
  font-weight: 600;
  @include mixins.fontSize(56);
  line-height: 1.14;
  @include mixins.media-query('max', 'xlg') {
    @include mixins.fontSize(40);
  }
}

.bg-blue {
  box-shadow: 0px 6.74px 16.84px 0px rgba(24, 54, 127, 0.3);

  & > div {
    background: #18367F;
  }

}

.bg-pink {
  box-shadow: 0px 6.74px 16.84px 0px rgba(255, 0, 123, 0.3);

  & > div {
    background: #FF007B;
  }
}

.how-it-works-icon {
  height: 64px;
  width: 64px;
  border-radius: 100px;
  overflow: hidden;

  & > div {
    height: 40px;
    width: 40px;
    border-radius: 100px;
  }
}

.how-it-works-text {
  h3 {
    margin-bottom: 16px;
    @include mixins.fontSize(24);
    font-weight: 500;
    line-height: 32px;
    @include mixins.media-query('max', 'xlg') {
      @include mixins.fontSize(20);
    }
  }

  span {
    color: #565656;
    @include mixins.fontSize(16);
    line-height: 24px;
    @include mixins.media-query('max', 'xlg') {
      @include mixins.fontSize(14);
    }

  }
}
