@import "reset";
@import "fonts";
@import "variables";
@import "grid";
html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family), sans-serif;
}

a {
  color: var(--color-base);
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-base-hover);
    transition: all 0.3s ease;
  }
}

