<section class="w-full">
    <div class="container">
        <div class="grid align-items-center">
            <div class="xlg:col-6 col-12">
                <h2 class="xlg:mb-7 mb-5">Sam decydujesz <br>o swoim wkładzie <br>własnym</h2>
                <div class="description">
                    <div class="description-header mb-3"><span>0%, 50% albo 100% </span><br>– Ty wybierasz, ile chcesz zaangażować</div>
                    <div class="description-content mb-6 xlg:mb-0">Możesz pokryć pełne koszty postępowania, wybrać model 50/50 lub skorzystać z opcji całkowicie
                        bez wkładu własnego. Niezależnie od wybranego wariantu – masz dostęp do najlepszych prawników i
                        pełną obsługę sprawy. Żadnych haczyków, wszystko transparentnie.
                    </div>
                </div>
            </div>
            <div class="xlg:col-6 col-12 xlg:text-right text-center">
                <offkredyt-autoplay-video [videoSrc]="'assets/img/_Oferta-mp4.mp4'"></offkredyt-autoplay-video>
            </div>
        </div>
    </div>
</section>
